.bkgd-white {
    background-color: white;
}

.turn {
    padding-top: 20px;
    padding-bottom: 20px;
}
.author-container {
    height: 400px;
}

.author-image {
    max-height: 100%;
}
.correct {
    background-color: #56CF46;
}

.wrong {
    background-color: #F90000;
}